In [2]:
from tensorflow.python.client import device_lib

def get_available_devices():
    local_device_protos = device_lib.list_local_devices()
    return [x.name for x in local_device_protos]

print(get_available_devices())

['/device:CPU:0', '/device:XLA_CPU:0']

In [0]:
file1 = open('drive\My Drive\data\Q1-Graph1.csv', 'r')

In [0]:
import pandas as pd
import numpy as np

In [31]:
dfTemplate = pd.read_csv('drive/My Drive/data/CGCS-Template.csv')
dfTemplate.describe()

              Source        eType  ...  TargetLatitude  TargetLongitude
count    1325.000000  1325.000000  ...             0.0              0.0
mean    26209.531321     3.067925  ...             NaN              NaN
std    117378.730973     2.308837  ...             NaN              NaN
min         0.000000     0.000000  ...             NaN              NaN
25%        39.000000     1.000000  ...             NaN              NaN
50%        45.000000     5.000000  ...             NaN              NaN
75%        59.000000     5.000000  ...             NaN              NaN
max    620120.000000     6.000000  ...             NaN              NaN

[8 rows x 11 columns]

In [32]:
dfTemplate.index

RangeIndex(start=0, stop=1325, step=1)

In [33]:
dfTemplate.dtypes

Source               int64
eType                int64
Target               int64
Time                 int64
Weight               int64
SourceLocation     float64
TargetLocation     float64
SourceLatitude     float64
SourceLongitude    float64
TargetLatitude     float64
TargetLongitude    float64
dtype: object

In [34]:
print("number of not na values in SourceLocation:   ", len(dfTemplate[dfTemplate["SourceLocation"].notna()]))
print("number of not na values in TargetLocation:   ", len(dfTemplate[dfTemplate["TargetLocation"].notna()]))
print("number of not na values in SourceLatitude:   ", len(dfTemplate[dfTemplate["SourceLatitude"].notna()]))
print("number of not na values in SourceLongitude:   ", len(dfTemplate[dfTemplate["SourceLongitude"].notna()]))
print("number of not na values in TargetLatitude:   ", len(dfTemplate[dfTemplate["TargetLatitude"].notna()]))
print("number of not na values in TargetLongitude:   ", len(dfTemplate[dfTemplate["TargetLongitude"].notna()]))

number of not na values in SourceLocation:    301
number of not na values in TargetLocation:    301
number of not na values in SourceLatitude:    0
number of not na values in SourceLongitude:    0
number of not na values in TargetLatitude:    0
number of not na values in TargetLongitude:    0

In [0]:
dfCategory = pd.read_csv('drive/My Drive/data/DemographicCategories.csv')

In [43]:
categoriesList = dfCategory.to_numpy()
categoriesList.dtype

dtype('O')

In [58]:
categoriesList

array([[459381, 'Water and other public services'],
       [466907, 'Electricity'],
       [473173, 'Household furnishings'],
       [503218, 'Natural gas'],
       [503701, 'Miscellaneous'],
       [510031, 'Gifts'],
       [520660, 'Healthcare'],
       [523927, 'Restaurants'],
       [527449, 'Alcohol'],
       [536346, 'Home maintenance'],
       [537281, 'Housekeeping supplies'],
       [552988, 'Money income before taxes'],
       [567195, 'Personal insurance and pensions'],
       [571970, 'Reading'],
       [575030, 'Transportation'],
       [577992, 'Education'],
       [580426, 'Telephone services'],
       [589943, 'Lodging away from home'],
       [595298, 'Groceries'],
       [595581, 'Donations'],
       [606730, 'Entertainment'],
       [616315, 'Apparel and services'],
       [620120, 'Personal taxes'],
       [621924, 'Mortgage payments'],
       [630626, 'Rented dwellings'],
       [632961, 'Personal care products and services'],
       [640784, 'Tobacco'],
       [642329, 'Household operations'],
       [644226, 'Property taxes']], dtype=object)

In [0]:
sourceCategories = list()
targetCategories = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in dfBigGraph["Source"]):
    sourceCategories.append(categoriesList[i][1])
  if(categoriesList[i][0] in dfBigGraph["Target"]):
    targetCategories.append(categoriesList[i][1])

In [49]:
len(sourceCategories)

29

In [52]:
len(targetCategories)

29

In [94]:
sourceTemplate = dfTemplate["Source"].to_numpy()
targetTemplate = dfTemplate["Target"].to_numpy()
sourceCategoriesT = list()
targetCategoriesT = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceTemplate):
    sourceCategoriesT.append(categoriesList[i][1])
  if(categoriesList[i][0] in targetTemplate):
    targetCategoriesT.append(categoriesList[i][1])
print("sourceCategoriesT:   ", sourceCategoriesT)
print("targetCategoriesT:   ", targetCategoriesT)

sourceCategoriesT:    ['Gifts', 'Money income before taxes', 'Personal taxes']
targetCategoriesT:    ['Water and other public services', 'Electricity', 'Household furnishings', 'Natural gas', 'Miscellaneous', 'Healthcare', 'Restaurants', 'Alcohol', 'Home maintenance', 'Housekeeping supplies', 'Personal insurance and pensions', 'Reading', 'Transportation', 'Education', 'Telephone services', 'Lodging away from home', 'Groceries', 'Donations', 'Entertainment', 'Apparel and services', 'Personal taxes', 'Mortgage payments', 'Rented dwellings', 'Personal care products and services', 'Tobacco', 'Household operations', 'Property taxes']

In [75]:
510031 in sourceTemplate

True

In [78]:
len(targetCategoriesT)

27

In [81]:
sourceCategoriesT

['Gifts', 'Money income before taxes', 'Personal taxes']

In [69]:
type(dfTemplate["Source"])

pandas.core.series.Series

In [3]:
dfBigGraph = pd.read_csv('drive/My Drive/data/CGCS-GraphData.csv')
dfBigGraph.describe()

             Source         eType  ...  TargetLatitude  TargetLongitude
count  1.238953e+08  1.238953e+08  ...    7.215359e+07     7.215359e+07
mean   5.566990e+05  7.490687e-01  ...    6.262336e-01    -3.643658e+01
std    5.794484e+04  9.638940e-01  ...    2.387852e+01     1.081189e+02
min    4.567590e+05  0.000000e+00  ...   -3.789420e+01    -1.793750e+02
25%    5.066630e+05  0.000000e+00  ...   -2.440350e+01    -1.588930e+02
50%    5.566020e+05  1.000000e+00  ...    4.157700e-01    -4.082980e+01
75%    6.065080e+05  1.000000e+00  ...    2.374010e+01     8.736400e+01
max    6.576680e+05  6.000000e+00  ...    4.983240e+01     1.633690e+02

[8 rows x 11 columns]

In [22]:
type(dfBigGraph)

pandas.core.frame.DataFrame

In [23]:
dfBigGraph.index

RangeIndex(start=0, stop=123895261, step=1)

In [25]:
dfBigGraph.columns

Index(['Source', 'eType', 'Target', 'Time', 'Weight', 'SourceLocation',
       'TargetLocation', 'SourceLatitude', 'SourceLongitude', 'TargetLatitude',
       'TargetLongitude'],
      dtype='object')

In [26]:
dfBigGraph.dtypes

Source               int64
eType                int64
Target               int64
Time                 int64
Weight             float64
SourceLocation     float64
TargetLocation     float64
SourceLatitude     float64
SourceLongitude    float64
TargetLatitude     float64
TargetLongitude    float64
dtype: object

In [30]:
print("number of not na values in SourceLocation:   ", len(dfBigGraph[dfBigGraph["SourceLocation"].notna()]))
print("number of not na values in TargetLocation:   ", len(dfBigGraph[dfBigGraph["TargetLocation"].notna()]))
print("number of not na values in SourceLatitude:   ", len(dfBigGraph[dfBigGraph["SourceLatitude"].notna()]))
print("number of not na values in SourceLongitude:   ", len(dfBigGraph[dfBigGraph["SourceLongitude"].notna()]))
print("number of not na values in TargetLatitude:   ", len(dfBigGraph[dfBigGraph["TargetLatitude"].notna()]))
print("number of not na values in TargetLongitude:   ", len(dfBigGraph[dfBigGraph["TargetLongitude"].notna()]))

number of not na values in SourceLocation:    72153591
number of not na values in TargetLocation:    72153591
number of not na values in SourceLatitude:    72153591
number of not na values in SourceLongitude:    72153591
number of not na values in TargetLatitude:    72153591
number of not na values in TargetLongitude:    72153591

In [0]:
dgBigGraph02 = dfBigGraph[dfBigGraph[]]

In [5]:
len(dfBigGraph[dfBigGraph["eType"] == 0])

48662103

In [4]:
print("number of rows with eType = 0 is:", len(dfBigGraph[dfBigGraph["eType"] == 0]))
print("number of rows with eType = 1 is:", len(dfBigGraph[dfBigGraph["eType"] == 1]))
print("number of rows with eType = 2 is:", len(dfBigGraph[dfBigGraph["eType"] == 2]))
print("number of rows with eType = 3 is:", len(dfBigGraph[dfBigGraph["eType"] == 3]))
print("number of rows with eType = 4 is:", len(dfBigGraph[dfBigGraph["eType"] == 4]))
print("number of rows with eType = 5 is:", len(dfBigGraph[dfBigGraph["eType"] == 5]))
print("number of rows with eType = 6 is:", len(dfBigGraph[dfBigGraph["eType"] == 6]))

number of rows with eType = 0 is: 48662103
number of rows with eType = 1 is: 70661593
number of rows with eType = 2 is: 389211
number of rows with eType = 3 is: 389211
number of rows with eType = 4 is: 259304
number of rows with eType = 5 is: 2041841
number of rows with eType = 6 is: 1491998

In [0]:
dfBigGraph["Source"].describe().apply("{0:.1f}".format)

count    123895261.0
mean        556699.0
std          57944.8
min         456759.0
25%         506663.0
50%         556602.0
75%         606508.0
max         657668.0
Name: Source, dtype: object

In [107]:
print("Number of unique values for Source column in the whole data: ", len(dfBigGraph["Source"].drop_duplicates()))
print("Number of unique values for Source column in eType = 0 or 1: ", 
      len(dfBigGraph[(dfBigGraph["eType"] == 0) | (dfBigGraph["eType"] == 1)]["Source"].drop_duplicates()))
print("Number of unique values for Source column in eType = 2 or 3: ", 
      len(dfBigGraph[(dfBigGraph["eType"] == 2) | (dfBigGraph["eType"] == 3)]["Source"].drop_duplicates()))
print("Number of unique values for Source column in eType = 4: ", 
      len(dfBigGraph[dfBigGraph["eType"] == 4]["Source"].drop_duplicates()))
print("Number of unique values for Source column in eType = 5: ", 
      len(dfBigGraph[dfBigGraph["eType"] == 5]["Source"].drop_duplicates()))
print("Number of unique values for Source column in eType = 6: ", 
      len(dfBigGraph[dfBigGraph["eType"] == 6]["Source"].drop_duplicates()))

Number of unique values for Source column in the whole data:  164537
Number of unique values for Source column in eType = 0 or 1:  100000
Number of unique values for Source column in eType = 2 or 3:  3814
Number of unique values for Source column in eType = 4:  66173
Number of unique values for Source column in eType = 5:  100003
Number of unique values for Source column in eType = 6:  50189

In [0]:
dfBigGraph["Target"].describe().apply("{0:.1f}".format)

count    123895261.0
mean        557147.0
std          57990.3
min         456759.0
25%         507151.0
50%         557475.0
75%         607385.0
max         657670.0
Name: Target, dtype: object

In [82]:
print("Number of unique values for Target column: ", len(dfBigGraph["Target"].drop_duplicates()))

Number of unique values for Target column:  136324

In [0]:
# Difference between the maximum id number and minimun id number in the Target column
657670 - 456759

200911

In [0]:
dfBigGraph[dfBigGraph["eType"] == 6].to_csv(r'drive/My Drive/data/eType6.csv', index = False)

In [0]:
dfBigGraph[dfBigGraph["eType"] == 5][["Source", "Target", "eType"]].size

6125523

In [0]:
dfBigGraph[dfBigGraph["eType"] <= 1].to_csv(r'drive/My Drive/data/eType01.csv', index = False)

In [0]:
dfBigGraph[dfBigGraph["eType"] == 5].to_csv(r'drive/My Drive/data/eType5.csv', index = False)

In [0]:
dfBigGraph[dfBigGraph["eType"] == 4].to_csv(r'drive/My Drive/data/eType4.csv', index = False)

In [0]:
dfBigGraph[(dfBigGraph["eType"] == 2) & (dfBigGraph["eType"] == 3)].to_csv(r'drive/My Drive/data/eType23.csv', index = False)

In [0]:
import numpy as np

In [12]:
print(len(dfBigGraph[(dfBigGraph["Source"] == 456759)]))
print(len(dfBigGraph[(dfBigGraph["Target"] == 456759)]))

649
857

In [0]:
TargetListUnique =

In [16]:
len(dfBigGraph[(dfBigGraph["eType"] == 2) | (dfBigGraph["eType"] == 3)])

778422

In [88]:
dfGraph1 = pd.read_csv('drive/My Drive/data/Q1-Graph1.csv')
dfGraph1.describe()

              Source        eType  ...  TargetLatitude  TargetLongitude
count    1216.000000  1216.000000  ...      168.000000       168.000000
mean   566372.039474     3.800987  ...        4.170833       -17.573504
std     54790.757705     2.059174  ...       26.369127        81.208493
min    463777.000000     0.000000  ...      -29.000000      -165.000000
25%    512397.000000     1.000000  ...      -22.000000       -48.670100
50%    570411.000000     5.000000  ...        1.000000       -37.807600
75%    616050.000000     5.000000  ...       30.448300        89.421700
max    654981.000000     6.000000  ...       35.880600       156.000000

[8 rows x 11 columns]

In [89]:
dfGraph2 = pd.read_csv('drive/My Drive/data/Q1-Graph2.csv')
dfGraph2.describe()

              Source        eType  ...  TargetLatitude  TargetLongitude
count    1300.000000  1300.000000  ...      201.000000       201.000000
mean   560520.766154     3.451538  ...      -12.701554       -85.900864
std     51698.445422     2.199438  ...       13.219904        95.522699
min    464459.000000     0.000000  ...      -29.452400      -168.472000
25%    527597.000000     1.000000  ...      -25.422000      -162.983000
50%    552988.000000     5.000000  ...      -20.656500      -111.678000
75%    602912.000000     5.000000  ...       -1.160670        -9.461840
max    656156.000000     6.000000  ...        6.715180        91.784100

[8 rows x 11 columns]

In [90]:
dfGraph3 = pd.read_csv('drive/My Drive/data/Q1-Graph3.csv')
dfGraph3.describe()

              Source       eType  ...  TargetLatitude  TargetLongitude
count     729.000000  729.000000  ...       88.000000        88.000000
mean   549315.914952    3.980796  ...       -6.859568       -20.845032
std     45556.232718    1.995782  ...       22.110683       106.346714
min    464459.000000    0.000000  ...      -29.171400      -165.000000
25%    516236.000000    5.000000  ...      -23.595300      -111.000000
50%    542649.000000    5.000000  ...      -21.141100       -26.695200
75%    578531.000000    5.000000  ...        5.911780        91.000000
max    657076.000000    6.000000  ...       33.574100       156.000000

[8 rows x 11 columns]

In [91]:
dfGraph4 = pd.read_csv('drive/My Drive/data/Q1-Graph4.csv')
dfGraph4.describe()

              Source       eType  ...  TargetLatitude  TargetLongitude
count     732.000000  732.000000  ...      176.000000       176.000000
mean   557659.424863    4.463115  ...        0.518587       -35.924931
std     55986.115278    1.694121  ...       25.551081       106.740120
min    464579.000000    0.000000  ...      -35.603400      -168.957000
25%    510031.000000    5.000000  ...      -25.000000      -111.000000
50%    566580.000000    5.000000  ...        1.000000       -41.778000
75%    585606.000000    5.000000  ...       22.107250       -11.437250
max    657526.000000    6.000000  ...       39.888600       156.256000

[8 rows x 11 columns]

In [92]:
dfGraph5 = pd.read_csv('drive/My Drive/data/Q1-Graph5.csv')
dfGraph5.describe()

              Source       eType  ...  TargetLatitude  TargetLongitude
count     395.000000  395.000000  ...      124.000000       124.000000
mean   553140.425316    4.635443  ...        6.701998       -13.750998
std     52601.721710    1.565413  ...       23.400234       119.389382
min    477657.000000    0.000000  ...      -29.000000      -170.646000
25%    510031.000000    5.000000  ...      -22.000000      -111.000000
50%    552988.000000    5.000000  ...       22.000000       -41.000000
75%    594308.000000    6.000000  ...       23.280775       152.200000
max    631903.000000    6.000000  ...       33.000000       156.000000

[8 rows x 11 columns]

In [103]:
sourceG1 = dfGraph1["Source"].to_numpy()
targetG1 = dfGraph1["Target"].to_numpy()
sourceCategoriesG1 = list()
targetCategoriesG1 = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceG1):
    sourceCategoriesG1.append(categoriesList[i][1])
  if(categoriesList[i][0] in targetG1):
    targetCategoriesG1.append(categoriesList[i][1])
print("sourceCategoriesG1:   ", len(sourceCategoriesG1), sourceCategoriesG1)
print("targetCategoriesG1:   ", len(targetCategoriesG1), targetCategoriesG1)

sourceCategoriesG1:    3 ['Gifts', 'Money income before taxes', 'Personal taxes']
targetCategoriesG1:    27 ['Water and other public services', 'Electricity', 'Household furnishings', 'Natural gas', 'Miscellaneous', 'Healthcare', 'Restaurants', 'Alcohol', 'Home maintenance', 'Housekeeping supplies', 'Personal insurance and pensions', 'Reading', 'Transportation', 'Education', 'Telephone services', 'Lodging away from home', 'Groceries', 'Donations', 'Entertainment', 'Apparel and services', 'Personal taxes', 'Mortgage payments', 'Rented dwellings', 'Personal care products and services', 'Tobacco', 'Household operations', 'Property taxes']

In [104]:
sourceG1 = dfGraph2["Source"].to_numpy()
targetG1 = dfGraph2["Target"].to_numpy()
sourceCategoriesG1 = list()
targetCategoriesG1 = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceG1):
    sourceCategoriesG1.append(categoriesList[i][1])
  if(categoriesList[i][0] in targetG1):
    targetCategoriesG1.append(categoriesList[i][1])
print("sourceCategoriesG1:   ", len(sourceCategoriesG1), sourceCategoriesG1)
print("targetCategoriesG1:   ", len(targetCategoriesG1), targetCategoriesG1)

sourceCategoriesG1:    3 ['Gifts', 'Money income before taxes', 'Personal taxes']
targetCategoriesG1:    27 ['Water and other public services', 'Electricity', 'Household furnishings', 'Natural gas', 'Miscellaneous', 'Healthcare', 'Restaurants', 'Alcohol', 'Home maintenance', 'Housekeeping supplies', 'Personal insurance and pensions', 'Reading', 'Transportation', 'Education', 'Telephone services', 'Lodging away from home', 'Groceries', 'Donations', 'Entertainment', 'Apparel and services', 'Personal taxes', 'Mortgage payments', 'Rented dwellings', 'Personal care products and services', 'Tobacco', 'Household operations', 'Property taxes']

In [105]:
sourceG1 = dfGraph3["Source"].to_numpy()
targetG1 = dfGraph3["Target"].to_numpy()
sourceCategoriesG1 = list()
targetCategoriesG1 = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceG1):
    sourceCategoriesG1.append(categoriesList[i][1])
  if(categoriesList[i][0] in targetG1):
    targetCategoriesG1.append(categoriesList[i][1])
print("sourceCategoriesG1:   ", len(sourceCategoriesG1), sourceCategoriesG1)
print("targetCategoriesG1:   ", len(targetCategoriesG1), targetCategoriesG1)

sourceCategoriesG1:    3 ['Gifts', 'Money income before taxes', 'Personal taxes']
targetCategoriesG1:    27 ['Water and other public services', 'Electricity', 'Household furnishings', 'Natural gas', 'Miscellaneous', 'Healthcare', 'Restaurants', 'Alcohol', 'Home maintenance', 'Housekeeping supplies', 'Personal insurance and pensions', 'Reading', 'Transportation', 'Education', 'Telephone services', 'Lodging away from home', 'Groceries', 'Donations', 'Entertainment', 'Apparel and services', 'Personal taxes', 'Mortgage payments', 'Rented dwellings', 'Personal care products and services', 'Tobacco', 'Household operations', 'Property taxes']

In [106]:
sourceG1 = dfGraph4["Source"].to_numpy()
targetG1 = dfGraph4["Target"].to_numpy()
sourceCategoriesG1 = list()
targetCategoriesG1 = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceG1):
    sourceCategoriesG1.append(categoriesList[i][1])
  if(categoriesList[i][0] in targetG1):
    targetCategoriesG1.append(categoriesList[i][1])
print("sourceCategoriesG1:   ", len(sourceCategoriesG1), sourceCategoriesG1)
print("targetCategoriesG1:   ", len(targetCategoriesG1), targetCategoriesG1)

sourceCategoriesG1:    3 ['Gifts', 'Money income before taxes', 'Personal taxes']
targetCategoriesG1:    27 ['Water and other public services', 'Electricity', 'Household furnishings', 'Natural gas', 'Miscellaneous', 'Healthcare', 'Restaurants', 'Alcohol', 'Home maintenance', 'Housekeeping supplies', 'Personal insurance and pensions', 'Reading', 'Transportation', 'Education', 'Telephone services', 'Lodging away from home', 'Groceries', 'Donations', 'Entertainment', 'Apparel and services', 'Personal taxes', 'Mortgage payments', 'Rented dwellings', 'Personal care products and services', 'Tobacco', 'Household operations', 'Property taxes']

In [102]:
sourceG1 = dfGraph5["Source"].to_numpy()
targetG1 = dfGraph5["Target"].to_numpy()
sourceCategoriesG1 = list()
targetCategoriesG1 = list()
for i in range(len(categoriesList)):
  if(categoriesList[i][0] in sourceG1):
    sourceCategoriesG1.append(categoriesList[i][0])
  if(categoriesList[i][0] in targetG1):
    targetCategoriesG1.append(categoriesList[i][0])
print("sourceCategoriesG1:   ", len(sourceCategoriesG1), sourceCategoriesG1)
print("targetCategoriesG1:   ", len(targetCategoriesG1), targetCategoriesG1)

sourceCategoriesG1:    3 [510031, 552988, 620120]
targetCategoriesG1:    27 [459381, 466907, 473173, 503218, 503701, 520660, 523927, 527449, 536346, 537281, 567195, 571970, 575030, 577992, 580426, 589943, 595298, 595581, 606730, 616315, 620120, 621924, 630626, 632961, 640784, 642329, 644226]